<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
        <h2>〇〇さんタイムレコード</h2>
        <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th></th>
                <th>〇月〇日</th>
                <th>タイム</th>
                <th>いいね</th>
              </tr>
            </thead>

            <tbody>
                <tr>
                  <td>

                  </td>
                  <td></td>
                  <td></td>
                </tr>
            </tbody>

        </table>
    </div>
 </div>
</div>