<h1>タイムの追加</h1>

<%= form_with(model: @record, local: true) do |form| %>
  <div class="submit">
    <%= form.submit '終了' %>
  </div>
<% end %>


開始時間 <%= @record.starting_time %><br>
終了時間 <%= @record.stoped_time %><br>