<h1>タイムの追加</h1>

<%= form_with(model: @record, local: true) do |form| %>
  <div class="submit">
    <%= form.submit 'stop' %>
  </div>
<% end %>


開始時間 <%= @record.start_time %><br>
stop始時間 <%= @record.stoped_time %>