<h2>今月の記録</h2>

  <%= month_calendar attribute: :start_date, events: @records do |date, records| %>
    <%= date.day %><br>
      <div class="text-danger h6">
        <% records.each do |record| %>
          <% if record.stoped_time  %>
            <%= link_to record_path(record.id) do %>
              <%= Time.at(record.stoped_time - record.starting_time).strftime("%M分 %S秒") %>
             <% end %>
          <% end%>
        <% end %>
      </div>
  <% end %>


