<h2>今月の記録</h2>

  <%= month_calendar attribute: :start_date, events: @records do |date, records| %>
    <%= date.day %><br>
      <div class="text-danger h6">
        <% records.each do |record| %>
          <%= record.stoped_time %>
        <% end %>
      </div>
  <% end %>


