<div class="container">
    <div class="alert alert-dark d-flex align-items-center justify-content-center">
      <h1>タイムを計ろう ～ スタート ～</h1>
    </div>

      <%= form_with(model: @record, local: true) do |form| %>
        <div class="submit">
          <%= form.submit '開始', class: "btn btn-lg btn-primary w-25" %>
        </div>
      <% end %>

    <button type="submit" class="btn btn-lg btn-danger w-25" disabled>終了</button>
</div>