<div class="container">
    <div class="alert alert-dark d-flex align-items-center justify-content-center">
      <h1>タイムを計ろう ～ スタート ～</h1>
    </div>

    <div class="row">
      <div class="col-6">
        <%= form_with(model: @record, local: true) do |form| %>
          <div class="submit">
            <%= form.submit '開始', class: "btn btn-lg btn-primary stopwatch" %>
          </div>
        <% end %>
      </div>

      <div class="col-6">
        <button type="submit" class="btn btn-lg btn-danger stopwatch" disabled>終了</button>
      </div>
    </div>
</div>