<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h2>Welcome to 大阪城
      <strong>ランニング</strong>記録!!</h2>

      <p>大阪城1周3.5㎞のタイムを測定、記録することができるサイトです。</p>
      <p>他のユーザーさんと情報を共有しながら</p>
      <p>ランニングやウォーキングを楽しみましょう！</p>

      <div class="btn-wrapper col-10 mx-auto">
        <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-success btn-sm btn-block mb-3' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-warning btn-sm btn-block' %>
      </div>
    </div>
  </div>
</div>
